build.properties
/**/logs
/config
/robots
.git
.idea
*.class
*.iml
**/target

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
# Allow this jar libs!
!libs/robocode.jar
!libs/robocode.core-1.9.3.6.jar
*.war
*.ear

/local-maven-repository
