build.properties
/**/logs/archived
/**/logs/app.log
/config
/robots
.git
.idea
*.class
*.iml
**/target

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
# Allow this jar libs!
!libs/robocode.jar
*.war
*.ear
